

<app-sub-nav></app-sub-nav>


<section class="container produtos">

  <div class="card" *ngFor="let produto of produtos">
    <div class="imagem">
      <div class="overlay"></div>
      <img
      [src]="getFirstImagemProduto(produto.id)"
      alt="Imagem produto"
      class="img"
    />
    </div>
    <div class="textos">
      <p class="nome-produto">{{ produto.nome }}</p>
      <p class="preco-antes">de <s>{{ produto.preco.antes | currency:'BRL'  }}</s> por:</p>
      <p class="forma-pagamento">à vista</p>
      <p class="preco-avista">{{ produto.preco * 0.85 | currency:'BRL'  }}</p>
      <p class="desconto-pix">no PIX com 15% desconto</p>
      <div class="traco-vermelho"></div>
      <p class="preco-normal">{{ produto.preco | currency:'BRL'  }}</p>
      <p class="pagamento-cartao">em até 12x de <strong class="preco-parcela">{{ produto.preco / 12 | currency:'BRL'  }}</strong></p>
      <p class="pagamento-cartao">sem juros no cartão</p>
    </div>
  </div>

</section>
