<nav>
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <a href=""
        ><img
          src="https://static.pichau.com.br/logo-pichau-2021-dark.png"
          alt="Logo"
      /></a>
    </div>

    <div class="d-flex align-items-center">
      <ul class="btns">
        <li class="link">
          <a routerLink="/cadastro"><i class="bi bi-person-circle"></i></a>
          <div class="text-btn-nav">
            <p class="text-top">MINHA CONTA</p>
            <p class="text-bottom">ENTRAR / CADASTRO</p>
          </div>
        </li>

        <li class="link">
          <i class="bi bi-telephone-fill"></i>
          <div class="text-btn-nav">
            <p class="text-top">ATENDIMENTO</p>
            <p class="text-bottom">AO CLIENTE</p>
          </div>
        </li>

        <li class="link">
          <i class="bi bi-heart-fill"></i>
          <div class="text-btn-nav">
            <p class="text-top">MEUS</p>
            <p class="text-bottom">FAVORITOS</p>
          </div>
        </li>

        <li class="link">
          <i class="bi bi-brightness-high-fill"></i>
          <div class="text-btn-nav">
            <p class="text-top">MODO</p>
            <p class="text-bottom">CLARO</p>
          </div>
        </li>
      </ul>



      <button class="btn-carrinho">
        <i class="bi bi-cart-check-fill"></i>
        <div class="text">
          <p id="carrinho">CARRINHO</p>
          <p id="quantidade-produtos">0 produtos</p>
        </div>
      </button>
    </div>

  </div>
</nav>


