<section class="sub-nav container">

  <button class="btn-departamentos">
    <i class="bi bi-list"></i>
    <div class="text">
      <p id="cima">ACESSE TODOS OS</p>
      <p id="baixo">DEPARTAMENTOS</p>
    </div>
    <i class="bi bi-arrow-right-short"></i>
  </button>

<div class="form-group">
  <input type="text" class="pesquisar" placeholder="Digite o que você procura...">
  <button><i class="bi bi-search"></i></button>
</div>

</section>


<section class="banner">
<img src="../../assets/img/mega_oferta_1920x450.jpg" alt="banner">
</section>
